<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Twitter clone in htmx</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <script src="https://unpkg.com/htmx.org@1.3.1"></script>
    <script src="https://unpkg.com/hyperscript.org@0.0.5"></script>
  </head>
  <body>
    <slot></slot>
  </body>
</html>

<script type="text/html" id="likes-frag">
  <!-- PARTIAL: LIKES COMPONENT -->
  <button
    class="btn btn-link text-decoration-none"
    id="like-{{id}}"
    type="button"
    hx-post="/like/{{id}}"
  >
    Like ({{likes}})
  </button>
</script>

<script type="text/html" id="retweets-frag">
  <!-- PARTIAL: RETWEETS COMPONENT -->
  <button
    class="btn btn-link ps-0 text-decoration-none"
    id="retweet-{{id}}"
    type="button"
    hx-post="/retweet/{{id}}"
  >
    Retweet ({{retweets}})
  </button>
</script>

<script type="text/html" id="post-frag">
  <!-- PARTIAL: POST COMPONENT -->
  <div hx-swap-oob="afterbegin:#timeline">
    <div class="card mb-2 shadow-sm" id="tweet-{{id}}">
      <div class="card-body">
        <div class="d-flex">
          <img class="me-4" src="{{avatar}}" width="108" />
          <div>
            <h5 class="card-title text-muted">
              {{username}}<small>: {{time}}</small>
            </h5>
            <div class="card-text lead mb-2">{{message}}</div>
            {{> retweets-frag}} {{> likes-frag}}
          </div>
        </div>
      </div>
    </div>
  </div>
</script>
